<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/form-validation.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="nav_top_form">
      <div class="nav-box-1">
        <a href="../index.html">TCAS'66</a>
      </div>
      <div class="nav-box-1">
        <a href="#">ตรวจสอบผู้ผ่านการคัดเลือก</a>
      </div>
      <div class="nav-box-2">
        <a href="#">สำหรับเจ้าหน้าที่</a>
      </div>
      <div class="nav-box-2">
        <a href="../contect.php">ติดต่อสอบถาม</a>
      </div>
     
    </div>
     
</body>
</html>